#dashboard{
    display: none;
    height: 500px;
    width: 100%;
}

#dash_chart{
    height: 390px;
    width: 1000px;
}

#dash_control{
    height: 50px;
    width: 1000px;
}

#chart_choices {
    display: none;
}

#chart {
    display: none;
}

#display_type {
    display: none;
}

#stats {
    display: none;
}

.div_stats {
    border: 1px solid black;
    width: 25%;
    float: left;
}